<!DOCTYPE html>
@using BA.WebApp.Helpers
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/angular-busy.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body data-ng-app="app" ng-controller="mainController as vm">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BA Dates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/#/dateEntries">Date Entries</a></li>
                    <li><a href="~/#/projects">Projects</a></li>
                    <li><a href="~/#/logs" title="Server Logs">Logs</a></li>
                    @*<li><a href="~/#/apis" title="API Chooser">APIs</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content ng-cloak">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/misc")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    <script>
        angular.module('app').constant('baseAppUrl', '@Request.ApplicationPath');
        angular.module('app').constant('webApiUrl', '@ConfigurationHelper.WebApiUrl');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
